
html, body {
  font-size: 11px;
  background-color: #2c3034;
}

.hide-el {
  display: none;
}

.container-fluid {
  background-color: #2c3034;
}

.area-initialization {
  color: white;
}

.area-results {
  margin-top: 10px;
}

.table-results-sec-1 {
  font-size: 8px;
}

.table-results-sec-2 {
  font-size: 8px;
}

.table-results-sec-1 .item {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.table-results-sec-1 .item .sub-1 {
  font-weight: bold;
}

.table-results-sec-1 .item .sub-2 {
  font-size: 9px;
}

.btn {
  font-size: 9px !important;
  padding: 2px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.btn-2 {
  font-size: 9px !important;
  padding: 2px !important;
}

.connections-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-results-sec-3 .th-header {
  text-align: center;
}

.table-results-sec-4 .th-header {
  text-align: left;
}

.table-results-sec-4 .item-sub-1 {
  font-size: 7px;
}

.feather-size-a {
  width: 14px;
  height: 14px;
}


