
/**
 * General.
 */

html, body {
  font-size: 11px;
  background-color: #2c3034;
  color: white;
  overflow: hidden;
  user-select: none;
}

.hide-el {
  display: none;
}

.feather-size-a {
  width: 14px;
  height: 14px;
}

.feather-size-b {
  width:  8px;
  height: 8px;
}

.btn-width {
  width: 100%;
}

.label-1 {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 9px;
}

.btn-fix-1 {
  font-size: 9px !important;
  padding: 2px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.btn-align-1 {
  float: right;
  margin-left: 3px;
}

::-webkit-scrollbar {
  height: 20px;
  width: 10px;
  background: #2c3034;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 1ex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #2c3034;
}

/**
 * Auth area.
 */

.area-auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.area-auth .title {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  font-size: 15px;
}

.area-auth .content {
  width: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: 33%;
}

.area-auth .status {
  padding-top: 33px;
  width: 100%;
  text-align: center;
}

/**
 * General content.
 */

.area-content {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 20px);
  width: 610px;
}

.area-content .controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  user-select: none;
}

.area-content .controls .controls-inner {
  padding: 3px;
}

.area-content .nodes {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: calc(100% - 30px);
  overflow-y: auto;
}

.area-content .nodes .n-inner {
  padding: 3px;
}

.area-network {
  position: absolute;
  right: 0;
  top: 70px;
  height: calc(100% - 90px);
  width: calc(100% - 610px);
}

#area-network-graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area-status {
  background-color: #585d61;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}

/**
 * Node list styles.
 */

.table-results-sec-1 {
  font-size: 8px;
}

.table-results-sec-2 {
  font-size: 8px;
}

.table-results-sec-1 .item {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.table-results-sec-1 .item .sub-1 {
  font-weight: bold;
}

.table-results-sec-1 .item .sub-2 {
  font-size: 9px;
}

.btn-2 {
  font-size: 5px !important;
  padding: 1px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.btn-3 {
  width: 110px !important;
  padding: 1px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin: 0 !important;
  margin-bottom: 3px !important;
  text-transform: uppercase !important;
  font-size: 8px !important;
}

.table-results-sec-3 .th-header-top {
  text-align: center;
  font-weight: bold !important;
}

.table-results-sec-3 .item-sub-1 {
  font-size: 7px;
}

.table-results-sec-3 .con-th-1 {
  background-color: black;
}

.table-results-sec-3 .th-header {
  text-align: left;
  background-color: #2c3034;
  font-weight: bold;
}

.table-results-sec-3 .con-th-2 {
  background-color: black;
}

.table-results-sec-3 .con-th-fix-1 {
  padding: 0;
  margin: 0;
}

.table-results-sec-3 th {
  font-weight: normal;
}

.nd-th-item {
  padding: 0 !important;
  padding-left:  5px !important;
  padding-right: 5px !important;
}

.th-separator {
  padding: 0 !important;
  padding-top: 1px !important;
}

.area-status {
  padding-top: 5px;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
}

/**
 * Connections styles.
 */

/* Fix sizes. */
.thh-s-0 {
  width: 50px;
  /* background-color: red !important; */
}

/* .thh-s-1 {
  background-color: blue !important;
} */

.thh-s-2 {
  width: 100px;
  /* background-color: yellow !important; */
}

.thh-s-3 {
  width: 100px;
  /* background-color: purple !important; */
}

.thh-s-4 {
  width: 70px;
  /* background-color: green !important; */
}

.thh-s-5 {
  width: 90px;
  /* background-color: cyan !important; */
}

.thh-s-6 {
  width: 40px;
  /* background-color: red !important; */
}

.error-connection-item th {
  background-color: #dc35455e !important;
}

/**
 * Modal styles.
 */

.modal {
  color: black;
  z-index: 333333333;
}

.fix-text-1 {
  font-size: 9px;
}

.fix-text-1 input {
  font-size: 9px;
}

.fix-text-1 select {
  font-size: 9px;
}

.fix-row-1 {
  padding-bottom: 10px;
}

.ac-node-list {
  padding: 20px;
  font-size: 8px;
  max-height: 300px;
  overflow-x: auto;
}

.ac-col-header {
  background-color: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 7px;
}

.ac-col-item {
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ac-col-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  user-select: none;
}

.ac-col-item-bg {
  background-color: #cdcdcd;
}

.ac-con-response-area .inner {
  padding: 40px;
  text-align: center;
}

/**
 * Network informations area.
 */

.area-network-information {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  width: calc(100% - 610px);
  background-color: #2c3034;
  z-index: 333333331;
  padding-top:  10px;
  padding-left: 10px;
}

.area-network-information table {
  font-size: 7px;
  width: 150px;
  color: white;
  text-transform: uppercase;
}

.area-network-information table th {
  text-align: left;
  padding: 1px;
}

/**
 * Node Mapper informations - top.
 */

.top-nm-informations {
  float: right;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 7px;
  font-size: 7px;
}

/**
 * Force Graph styles.
 */

.graph-node-label {

}


